<!doctype html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300;400;500;600;700;800&family=Source+Sans+Pro:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <title>Document</title>
</head>
<body onload="get_orders('{{csrf_token}}')">

    <header>
        <div class="container">
            <div class="header-line">
                <div class="header-logo">
                    <a href="/">
                        <img src="static/img/logo2.svg">
                    </a>
                </div>

                <div class="nav">
                    <a href="/">ГЛАВНАЯ</a>
                    <a href="">МЕНЮ</a>
                    <a href="">О НАС</a>
                    <a href="">КОРЗИНА</a>
                </div>

                <div class="phone">
                    <div class="nav number">
                        <a href="#">8-923-607-3420</a>
                    </div>

                    <div class="nav-text">
                        Свяжитесь с нами по телефону
                    </div>
                </div>

            </div>
            <div class="order-text-label"><p>Заказ:</p></div>
            <div class="pizza">
                {% for image in users_pizzas %}
                    <div class="pizza-elem" id="{{image.id}}">
                        <div class="pizza-name">{{image.name}}</div>
                        <div class="pizza-img"><img src="{{image.picture.url}}"></div>
                        <div class="pizza-text">{{image.text}}</div>
                        <div class="pizza-buy">
                            <div class="pizza-btn">
                                <div class="pizza-price">{{image.price}}Р</div>
                                <label>
                                    <input class="user-amount" type="text" placeholder="Количество" value="1">
                                </label>
                                <button type="submit" onclick="add_to_cart('{{image.id}}', '{{ csrf_token }}')">Добавить</button>
                            </div>
                            <div class="pizza-added">
                                <p class="added-label">Добавлено</p>
                                <button type="submit" onclick="delete_from_cart('{{image.id}}', '{{ csrf_token }}', 1)">Удалить</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="price">
                <p>Стоимость заказа: {{price}} р.<p>
            </div>
            <div class="user-data">
                <form method="POST" class="user-data">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit">Оформить заказ</button>
                </form>
            </div>

        </div>
    </header>
<script src="{% static 'scripts/scripts.js' %}"></script>

</body>
</html>